header h1 {
  margin: 0;
  font-size: 24px;
  color: #C60017; /* Rojo Cinemark */
  letter-spacing: 2px;
  font-weight: bold;
}

main {
  padding: 40px;
  background-color: #19191A; /* Fondo Cinemark oscuro */
  min-height: 60vh;
}

.acciones h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #F6C700; /* Amarillo Cinemark */
  font-weight: bold;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.botones a {
  background-color: #C60017; /* Rojo Cinemark */
  color: #FFF;
  padding: 15px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: background-color 0.3s, color 0.3s;
}

.botones a:hover {
  background-color: #F6C700; /* Amarillo Cinemark en hover */
  color: #C60017;
}
